<header>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">

      <!-- logo marcar casa do leão -->
      <a class="navbar-brand" href="#">
        <img
          src="https://img.freepik.com/premium-vector/black-white-male-lion-head-best-tattoo-tshirts-poster_7130-2014.jpg?w=740"
          class="d-inline-block align-text-top" alt="Logo" width="40" height="34">Casa do Leão</a>
<!--
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      </button> -->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/tela-inicial">Página Inicial</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/usuarios">Usuários</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/clientes">Clientes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/fornecedores">Fornecedores</a>
          </li>
        </ul>

          <div>
          </div>
          <nav>
            <header>
