<body class="bg-info bg-opacity-10 container border border-primary ">
  <div class="">
    <h1 class="mb-4">Cadastro de Fornecedor.</h1>
    <form>
      <div class="row">
        <!-- nome input -->
        <div class="form-floating mb-4 col-md-12 col-12">
          <input type="text" id="name" class="form-control" placeholder="Razão Social" [(ngModel)]="razaoSocial" />
          <label class="form-label ps-4" for="name">Razão Social</label>
        </div>

        <!-- telefone input -->
        <div class="form-floating mb-4 col-12 col-md-6 col-sm-12">
          <input type="text" id="telefone" class="form-control" placeholder="Telefone" [(ngModel)]="telefone" />
          <label class="form-label ps-4" for="telefone">Telefone</label>
        </div>

        <!-- e-mail input -->
        <div class="form-floating mb-4 col-12 col-md-6 col-sm-12">
          <input type="text" id="e-mail" class="form-control" placeholder="e-mail" [(ngModel)]="email" />
          <label class="form-label ps-4" for="telefone">E-mail</label>
        </div>

        <!-- cep input -->
        <div class="form-floating mb-4 col-12 col-md-6 col-sm-12">
          <input type="text" id="cep" class="form-control" placeholder="cep" [(ngModel)]="cep" />
          <label class="form-label ps-4" for="cep">CEP</label>
        </div>

        <!-- endereço input -->
        <div class="form-floating mb-4 col-12 col-md-6 col-sm-12">
          <input type="text" id="endereco" class="form-control" placeholder="endereço" [(ngModel)]="endereco" />
          <label class="form-label ps-4" for="endereco">Endereço</label>
        </div>

        <!-- bairro input -->
        <div class="form-floating mb-4 col-12 col-md-6 col-sm-12">
          <input type="text" id="bairro" class="form-control" placeholder="bairro" [(ngModel)]="bairro" />
          <label class="form-label ps-4" for="bairro">Bairro</label>
        </div>

        <!-- cidade input -->
        <div class="form-floating mb-4 col-12 col-md-6 col-sm-12">
          <input type="text" id="cidade" class="form-control" placeholder="cidade" [(ngModel)]="cidade" />
          <label class="form-label ps-4" for="cidade">Cidade</label>
        </div>


        <!-- uf input -->
        <div class="form-floating mb-4 col-12 col-md-2 col-sm-12">
          <input type="text" id="uf" class="form-control" placeholder="uf" [(ngModel)]="uf" />
          <label class="form-label ps-4" for="uf">UF</label>
        </div>

        <div>
          <!-- Submit button -->
          <button type="button"
            class="btn btn-primary btn-lg">
            Cadastrar
          </button>
        </div>
      </div>
    <form>
   <div>
<body>
